/* Submission card */
.submission-card {
    position: relative;
    width: calc(32% - 0.5rem);
    height: 0;
    padding-bottom: 32%; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

/* Submission card header */
.submission-card-header {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e3e3e3;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    z-index: 990;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
}

/* Image container */
.submission-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.submission-image-container:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Submission image */
.submission-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Submission card footer */
.submission-card-footer {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 12px;
}

/* Icon container */
.icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
}

/* Icon count */
.icon-count {
    font-size: 0.85rem;
}

.approval-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.612); /* Semi-transparent background */
    color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    font-family: "Bebas neue";
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  
/* Submission card */
.submission-card {
    position: relative;
    width: calc(32% - 0.5rem);
    height: 0;
    padding-bottom: 32%; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

/* Submission card header */
.submission-card-header {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e3e3e3;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    z-index: 990;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
}

/* Image container */
.submission-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.submission-image-container:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Submission image */
.submission-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Submission card footer */
.submission-card-footer {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 12px;
}

/* Icon container */
.icon-container {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
}

/* Icon count */
.icon-count {
    font-size: 0.85rem;
}

.approval-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.612); /* Semi-transparent background */
    color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    font-family: "Bebas neue";
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}
  
/* Responsive design */
@media (max-width: 700px) {
    .submission-card {
        padding-bottom: 50%;
    }
}

@media (max-width: 500px) {
    .submission-card {
        width: 100%; 
        padding-bottom: 100%; 
    }
}
