
.artwork-carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px; /* Adjust width */
  margin: auto;
  overflow: hidden;
}

  /* Central slide is larger */
  .carousel-slide {
    width: 70%; /* Central slide takes most of the space */
    transition: transform 0.3s ease-in-out;
  }
  
  /* Side slides are smaller */
  .carousel-slide.side {
    width: 30%; /* Side slides are smaller */
    opacity: 0.6; 
  }
  
  /* Hover effect to bring side slides to focus */
  .carousel-slide:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-left{
    background-image: none;
  }
  .swiper-pagination-bullet-active{
    background: #131313;
  }
 
  @media (min-width: 700px) {
    .artwork-carousel-wrapper .artwork-card {
        height: 400px;
        width: auto;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
  .artwork-carousel-wrapper .artwork-card {
      height: 300px;
      width: auto;
  }
}
