/* Navbar Styling */
.navbar {
  margin-top: 1rem;
  padding: 0.1rem 2rem;
  background-color: #e1e1e1;
  border-radius: 30px;
  z-index: 100;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: center;
  
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.logo-navbar {
  font-family: 'Sedgwick Ave Display', sans-serif;
  font-size: calc(40px + 2vw); /* Responsive font size */
  color: #131313;
}

.menu-icon {
  cursor: pointer;
}

.menu-icon svg {
  transition: transform 0.3s ease;
}

/* Burger Menu Styling (appears when burger icon is clicked) */
.burger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #131313;
  padding: 1rem;
  border: 1px solid #131313;
  border-radius: 5px;
  z-index: 200;
}

/* Dark mode */

/* Navbar Dark Mode */
.navbar.dark {
  background-color: #131313;
  color: #e3e3e3;
}

.navbar.dark .logo-navbar {
  color: #e3e3e3;
}

