.swiper-3d .swiper-slide-shadow{
  background: none;
}

.challenge-item {
  position: relative;
  overflow: hidden;
  min-height: 329px;
  width: 329px;
  transition: transform 0.3s ease-in-out;
  margin-top: 1rem;
}

.brand-logo-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.brand-logo-container img {

  object-fit: fill;
}

.challenge-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 2rem 1rem;
  border-radius: 30px;
  min-height: 450px;
  justify-content: space-between;
  /* background-color: rgba(3, 3, 3, 0.662); */
}

.brand-name {
  position: relative;
  font-size: calc(2rem + 0.3vw);
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  color: #e3e3e3;
}

.challenge-title {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  color: #e3e3e3;
  top: 20px;
  left: 20px;
  font-family: "Bebas neue";
  letter-spacing: 1px;
  text-align: left;
}

.no-challenges {
  text-align: center;
  font-size: 1.2rem;
}

/* Media Query for centering the carousel */
@media (min-width: 768px) {
  .carousel-container {
    display: flex;
    justify-content: center; /* Center the carousel horizontally */
    align-items: center; /* Center the carousel vertically */
  }

  .sponsor-carousel {
    width: 80%; /* Set a max width for the carousel */
    height: auto;
  }

  /* Optional adjustments for larger screens (for example, reducing carousel width) */
  @media (min-width: 1200px) {
    .sponsor-carousel {
      width: 60%; /* Further reduce the width on larger screens */
    }
  }
}